img{
    width:100%;
}

a, a:hover{
    text-decoration: none;
}

.flex-group{
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.gray-box{
    background: rgb(238, 238, 238);
}

.blueish-box{
    background: #008375;
}

.gray{
    color: #AAA;
}

.blueish{
    color: #008375;
}

.white{
    color: #FFF;
}

.square{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 1px;
}

.square.red{
    background: rgb(192, 39, 44);
}

.square.blue{
    background: rgb(0, 114, 187);
}

.square.gray{
    background: rgb(152, 152, 152);
}

.square.black{
    background: rgb(51, 51, 51);
}

.bold{
    font-weight: 800;
}

.click-me{
    cursor: pointer;
}

.column1, .column2{
    width: 50%;
}

.left-column{
    width: 20%;
    z-index: 1;
    border-right: 1px solid #CCCCCC;
    box-shadow: 1px 2px 8px 0px rgb(204, 204, 204);
}

.left-column .encabezado{
    padding: 25px;
    border-bottom: 2px solid #CCC;
}

.left-column .encabezado .bold{
    font-size: 1.5em;
}

.left-column .encabezado p:last-of-type{
    line-height: 0px;
}

.left-column .encabezado a{
    display: block;
    padding-top: 25px;
}

.left-column .side-menu{
    list-style: outside none none;
    padding: 0px;
}

.left-column .side-menu li{
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
}

.left-column .side-menu li:hover, .left-column .side-menu li.active{
    color: #FFF;
    background: #008375;
}

.left-column .side-menu .sub-items{
    background: rgb(238, 238, 238) none repeat scroll 0% 0%;
    list-style: outside none none;
    padding: 0px;
    display: none;
}

.right-column{
    width: 80%;
}

.right-column nav{
    position: relative;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 8px;
    margin: 10px 20px;
    z-index: 1;
}

.right-column nav ul{
    list-style: none;
}

nav ul .search{
    width: 40%;
}

nav .search input[type="text"]{
    border-style: none;
    width: 95%;
}

nav ul li {
    width: 20%;
}

.first-item, .second-item, .third-item{
    padding: 10px 125px;
}

/* FIRST ITEM */

.first-item{
    height: 550px;
}

.first-item h2{
    font-size: 3.8em;
    font-weight: 800;
}

.first-item img{
    position: relative;
    top: -150px;
}

/* FIRST ITEM */

/* SECOND ITEM */

.second-item > .column1 {
    width: 40%;
}

.second-item > .column2 {
    width: 60%;
}

.second-item > .column1 > div{
    padding: 15px 0px;
}

.second-item > .column1 > div .text{
    width: 70%;
}

.second-item > .column1 > div .text p:first-of-type{
    font-size: 2.5em;
}

.second-item > .column1 > div .text p:last-of-type{
    line-height: 0px;
}

.second-item > .column1 > p {
    font-size: 1.4em;
}

.second-item > .column1 .white-blue-button{
    display: block;
    padding: 20px;
    background-color: transparent;
    border: 2px solid #008375;
    font-weight: bold;
    transition: 1s ease;
}

.second-item > .column1 input[type="button"]:focus, .second-item > .column1 input[type="button"]:hover{
    background-color: #17655d;
    color: #FFF;
}

.second-item > .column1 .div-buttons{
    padding: 15px 0px;
}

.second-item > .column1 .div-buttons .blue-white-button{
    background-color: #17655d;
    font-weight: bold;
    transition: 1s ease;
    border-style: none;
    padding: 10px;
    color: #FFF;
    margin: 0px 10px 0px 0px;
}

.second-item > .column1 .div-buttons .blue-white-button:hover{
    background-color: transparent;
    color: #008375;
}

.second-item > .column1 > div .image img{
    width: 85px;
}

/* SECOND ITEM */

/* THIRD ITEM */

.third-item .column2{
    margin-top: auto;
    margin-bottom: auto;
}

.third-item .column2 h2{
    font-size: 2.5em;
}

.third-item .column2 p{
    font-size: 1.4em;
}

/* THIRD ITEM */

/* RELATED PRODUCTS */

.related-products{
    padding: 25px;
}

.related-products h3{
    padding: 50px;
    font-size: 2.2em;
}

.related-products .moto-boxes{
    background: #FFF;
    width: calc(33.33% - 30px);
    margin: 0px 15px;
    box-shadow: 2px 3px 4px rgb(170, 170, 170);
    padding: 5px;
}

.related-products .moto-boxes .moto-image{
    text-align: center;
}

.related-products .moto-boxes .moto-image img{
    width: 50%;
}

.related-products .moto-boxes .moto-description{
    margin: 30px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

/* RELATED PRODUCTS */

/* CONTACT US */

.contact-us{
    padding: 50px 125px;
}

.contact-us h3{
    font-size: 1.8em;
}

.contact-us .us-text{
    line-height: 25px;
    margin-top: 40px;
}

.contact-us .form{
    padding-top: 25px;
}

.contact-us .form .column1{
    padding-right: 15px;
}

.contact-us .form .column2{
    padding-left: 15px;
}

.contact-us .form input{
    border-style: none;
    background: transparent none repeat scroll 0% 0%;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: 1px solid;
}

/* CONTACT US */

@media screen and (max-width: 767px){
    
    .first-item, .second-item, .third-item{
        padding: 10px 25px;
    }
    
    .left-column, .right-column, .second-item > .column1, .second-item > .column2, .second-item > .column1 .white-blue-button{
        width: 100%;
    }
    
    .left-column .encabezado{
        text-align: center;
    }
    
    .first-item{
        height: auto;
    }
    
    .first-item img{
        top: 0px;
    }
    
    .related-products .moto-boxes{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .contact-us{
        padding: 25px 50px;
    }
    
}